name: build

on:
  push:
    branches-ignore:
      - release
    paths-ignore:
      - '.idea/**'
      - 'notes/**'
      - README.md

  pull_request:
    branches-ignore:
      - release
    paths-ignore:
      - '.idea/**'
      - 'notes/**'
      - README.md

jobs:
  main:
    runs-on: macos-10.15
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: '3.8'
    - name: Build and test
      run: |
        script/do-build.sh $(which python)
